# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# 开发环境
run/
runs/
logs/
*.log

# IDE
.idea/
*.iml
*.ipr
*.iws
.eclipse/
.classpath
.project
.settings/
bin/
out/

# 系统
.DS_Store
Thumbs.db
